.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #555;
    flex-direction: row-reverse;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.letter {
    font-size: 2rem;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ccc;
    color: #000;
}

.letter:not(.available) {
    background-color: #777;
}
